---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Creador de Aplicaciones web y mobiles",
    company: "Apps unicas 2023-2024",
    description:
      "Manipulacion sobre programaci贸n y desarrollo de herramientas web en diferentes plataformas, juegos. HTML, CSS3, js, react 2023 por GitHub.",
    link: "https://github.com/Juancdigital1/app2-juegotriquiene24a",
  },
  {
    date: "Octubre 2023",
    title: "Desarrollador Frontend Responsive desing",
    company: "Horizontes App",
    description:
      "Responsable de hacer modificaciones en  la plataforma, componentes y utilidades para la creaci贸n y desarrollo de varias aplicaciones web. Implantaci贸n de medidas de integraci贸n continua y despliegue testing en diferentes equipos.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>