---
const personalImageAlt = "Juanc Digi1"
import Badge from "../components/Badge.astro"
import LinkedInIcon from "../components/icons/LinkedIn.astro"
import MailIcon from "../components/icons/Mail.astro"
import SocialPill from "../components/SocialPill.astro"


---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="https://static.vecteezy.com/system/resources/previews/001/503/756/non_2x/boy-face-avatar-cartoon-free-vector.jpg"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/juan-carlos-a-n-digi1-725287299"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy JuanCdigi1
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
     Desarrollador de aplicacones, productos web y digitales. <strong
      >Profesional y Autodidacta en el desarrollo y herramientas de sofware en America dominio de Programación,</strong
    > de Bogota Colombia LATAM 🇨🇴. Especializado en el desarrollo de aplicaciones web
    únicas. Experto en el tratamiento de aplicaciones web
    Notables e Ideal.

  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:jcandigital1@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/juan-carlos-a-n-digi1-725287299">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>